* {padding: 0;}
body {padding: 30px;}

#highlight ,
#highlightjs
{display: block; font-family: consolas; font-size:11pt;}

#highlight,
#highlightjs
 {width: 100%; height: 300px;}

/*styles for the pre tag*/
#layer {
	font-family: consolas;
	font-size: 14px;
	line-height: 20px;
	
	border: 1px solid #ccc;
	background: linear-gradient(white, white 19px, #ddd 19px, #ddd 20px);
	background-size: 20px 20px;
	
	padding: 20px 30px;
	
	white-space: pre-wrap; /*to wrap words*/
	word-wrap: break-word; /*IE 5.5+*/
}

/*colors*/
.sc {color: brown;}
.keyword {color: blue;}
.string {color: red;}
.comment {color: green; background: lightyellow;}
.function {color: blue;}

.classfooter{

	bottom: 10px; 
	right:40px; 
	width:auto;
	text-align: center;
	position:absolute;
	padding: 5px;
	font-family: consolas;
	font-size: 14px;
	line-height: 20px;	
	border: 1px solid #ccc;
	

}
